body {
    font-family: cursive; 
    background-color: hwb(0 100% 0%);
    color: #333;
    padding: 30px;
}

.verde{
    background-color: darkgreen;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: darkgreen;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: darkgreen;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: darkgreen;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: darkgreen;
}