#tristeza{
    background-color: blue;
}
#fuerza{
    background-color: brown;
}
#felicidad{
    background-color: gold;
}
#energia{
    background-color: gold;
}
#neutralidad{
background-color: darkgray;
}
#paz{
    background-color: blueviolet;
}
#tranquilidad{
    background-color: blanchedalmond;
}
#confort{
    background-color: chocolate;


}
#vitalidad{
    background-color: darkgreen;
}

